.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--color-water);
}

.card--yellow {
  background-color: lightyellow;
}

.card--red {
  background-color: lightcoral;
}

.card--green {
  background-color: lightgreen;
}

.card--orange {
  background-color: lightsalmon;
}

.card--purple {
  background-color: rgb(175, 143, 175);
}

/* create new bgColors */
