.entryForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.submitButton {
  background-color: var(--color-nemo);
  align-self: center;
  color: var(--color-foam);
}

.newEntryHeader {
  align-self: center;
}

.textArea {
  align-self: center;
  width: 100%;
  border-radius: 5px;
  border: solid var(--color-water-10) 1px;
}

.input {
  align-self: center;
  width: 100%;
  border-radius: 5px;
  border: solid var(--color-water-10) 1px;
}
